In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [124]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import classification_report, roc_auc_score
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import AdaBoostClassifier

In [98]:
BCC=pd.read_csv(r"C:\Users\Hilda\OneDrive\Desktop\MTECH FINANCIAL ENGINEERING\PART 1.2\BIG DATA ANALYTICS\Class Data Set\Bank_Customer_Churn_Prediction.csv")

In [100]:
BCC.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [102]:
BCC.tail()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
9995,15606229,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,15569892,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,15584532,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,15682355,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,15628319,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [34]:
BCC.shape

(10000, 12)

In [36]:
BCC.dtypes

customer_id           int64
credit_score          int64
country              object
gender               object
age                   int64
tenure                int64
balance             float64
products_number       int64
credit_card           int64
active_member         int64
estimated_salary    float64
churn                 int64
dtype: object

In [104]:
BCC.isnull().sum()

customer_id         0
credit_score        0
country             0
gender              0
age                 0
tenure              0
balance             0
products_number     0
credit_card         0
active_member       0
estimated_salary    0
churn               0
dtype: int64

In [106]:
for col in ["gender","country"]:
    BCC[col]=LabelEncoder().fit_transform(BCC[col])

In [58]:
BCC.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,2,0,43,2,125510.82,1,1,1,79084.10,0

In [108]:
BCC1=BCC.drop(columns=["customer_id"])

In [66]:
BCC1.shape

(10000, 11)

In [68]:
BCC1.dtypes

credit_score          int64
country               int32
gender                int64
age                   int64
tenure                int64
balance             float64
products_number       int64
credit_card           int64
active_member         int64
estimated_salary    float64
churn                 int64
dtype: object

In [110]:
x=BCC1.drop("churn",axis=1)
y=BCC1["churn"]

In [112]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [82]:
#Model Train,Test,Prediction and Evaluation for RandomForestClassifier Model

In [114]:
RFCmodel=RandomForestClassifier()
RFCmodel.fit(x_train,y_train)
predicted_values=RFCmodel.predict(x_test)
accuracy_score(y_test,predicted_values)
print(classification_report(y_test,predicted_values))

              precision    recall  f1-score   support

           0       0.88      0.96      0.92      1609
           1       0.72      0.45      0.56       391

    accuracy                           0.86      2000
   macro avg       0.80      0.71      0.74      2000
weighted avg       0.85      0.86      0.85      2000

In [86]:
#Model Train, Test, Prediction and Evaluation for LogisticRegression Model

In [88]:
LRmodel=LogisticRegression()
LRmodel.fit(x_train,y_train)
predicted_values1=LRmodel.predict(x_test)
accuracy_score(y_test,predicted_values1)
print(classification_report(y_test,predicted_values1))

              precision    recall  f1-score   support

           0       0.82      0.97      0.89      1608
           1       0.45      0.10      0.16       392

    accuracy                           0.80      2000
   macro avg       0.63      0.53      0.52      2000
weighted avg       0.74      0.80      0.74      2000

C:\Users\Hilda\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [ ]:
#Model Train, Test, Prediction and Evaluation for GaussianNB Model

In [126]:
GNBmodel=GaussianNB()
GNBmodel.fit(x_train,y_train)
predicted_values2=GNBmodel.predict(x_test)
accuracy_score(y_test,predicted_values2)
print(classification_report(y_test,predicted_values2))

              precision    recall  f1-score   support

           0       0.81      0.96      0.88      1609
           1       0.33      0.09      0.14       391

    accuracy                           0.79      2000
   macro avg       0.57      0.52      0.51      2000
weighted avg       0.72      0.79      0.73      2000

In [ ]:
#Model Train, Test, Prediction and Evaluation for AdaBoostClassifier Model

In [128]:
ABCmodel=AdaBoostClassifier()
ABCmodel.fit(x_train,y_train)
predicted_values3=ABCmodel.predict(x_test)
accuracy_score(y_test,predicted_values3)
print(classification_report(y_test,predicted_values3))

C:\Users\Hilda\anaconda3\Lib\site-packages\sklearn\ensemble\_weight_boosting.py:527: FutureWarning: The SAMME.R algorithm (the default) is deprecated and will be removed in 1.6. Use the SAMME algorithm to circumvent this warning.
  warnings.warn(

              precision    recall  f1-score   support

           0       0.88      0.96      0.92      1609
           1       0.73      0.47      0.57       391

    accuracy                           0.86      2000
   macro avg       0.80      0.71      0.75      2000
weighted avg       0.85      0.86      0.85      2000

In [ ]:
#Model Train, Test, Prediction and Evaluation for BaggingClassifier Model

In [130]:
BCmodel=BaggingClassifier()
BCmodel.fit(x_train,y_train)
predicted_values4=BCmodel.predict(x_test)
accuracy_score(y_test,predicted_values4)
print(classification_report(y_test,predicted_values4))

              precision    recall  f1-score   support

           0       0.87      0.95      0.91      1609
           1       0.69      0.41      0.52       391

    accuracy                           0.85      2000
   macro avg       0.78      0.68      0.71      2000
weighted avg       0.83      0.85      0.83      2000

In [ ]:
#RandomForestClassifier and AdaBoostClassifier are the best options overally as they balance the detection of customers who churn out with reasonable precision avoiding many false positives. The other models undervalue the churn class. AdaBoostClassifier has a better churn recall than RandomForestClassifier.The other models perform poorly on churn detection