In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [95]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import classification_report, roc_auc_score
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [97]:
LP=pd.read_csv("Loan_Prediction.csv")

In [98]:
LP.head(2)

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0

In [101]:
LP.tail(2)

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
251998,251999,6507128,45,0,single,rented,no,Graphic_Designer,Pondicherry,Puducherry,0,10,0
251999,252000,9070230,70,17,single,rented,no,Statistician,Avadi,Tamil_Nadu,7,11,0

In [103]:
LP.shape

(252000, 13)

In [105]:
LP.isnull().sum()

Id                   0
Income               0
Age                  0
Experience           0
Married/Single       0
House_Ownership      0
Car_Ownership        0
Profession           0
CITY                 0
STATE                0
CURRENT_JOB_YRS      0
CURRENT_HOUSE_YRS    0
Risk_Flag            0
dtype: int64

In [107]:
LP.dtypes

Id                    int64
Income                int64
Age                   int64
Experience            int64
Married/Single       object
House_Ownership      object
Car_Ownership        object
Profession           object
CITY                 object
STATE                object
CURRENT_JOB_YRS       int64
CURRENT_HOUSE_YRS     int64
Risk_Flag             int64
dtype: object

In [109]:
LP1=LP.drop(columns=["Id","CITY","STATE","Profession"])

In [111]:
LP1.columns

Index(['Income', 'Age', 'Experience', 'Married/Single', 'House_Ownership',
       'Car_Ownership', 'CURRENT_JOB_YRS', 'CURRENT_HOUSE_YRS', 'Risk_Flag'],
      dtype='object')

In [113]:
LP1["Married/Single"].replace({"married":1,"single":0}, inplace=True)

C:\Users\Hilda\AppData\Local\Temp\ipykernel_18104\1255939334.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  LP1["Married/Single"].replace({"married":1,"single":0}, inplace=True)
C:\Users\Hilda\AppData\Local\Temp\ipykernel_18104\1255939334.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  LP1["Married/Single"].replace({"married":1,"single":0}, inplace=True)

In [115]:
LP1.head(5)

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1303834,23,3,0,rented,no,3,13,0
1,7574516,40,10,0,rented,no,9,13,0
2,3991815,66,4,1,rented,no,4,10,0
3,6256451,41,2,0,rented,yes,2,12,1
4,5768871,47,11,0,rented,no,3,14,1

In [117]:
for col in ["House_Ownership","Car_Ownership"]:
    LP1[col]=LabelEncoder().fit_transform(LP1[col])

In [119]:
LP1.head(5)

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1303834,23,3,0,2,0,3,13,0
1,7574516,40,10,0,2,0,9,13,0
2,3991815,66,4,1,2,0,4,10,0
3,6256451,41,2,0,2,1,2,12,1
4,5768871,47,11,0,2,0,3,14,1

In [121]:
LP1.dtypes

Income               int64
Age                  int64
Experience           int64
Married/Single       int64
House_Ownership      int32
Car_Ownership        int32
CURRENT_JOB_YRS      int64
CURRENT_HOUSE_YRS    int64
Risk_Flag            int64
dtype: object

In [123]:
x=LP1.drop("Risk_Flag", axis=1)
y=LP1["Risk_Flag"]

In [142]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [ ]:
#Model Train, Test, Prediction and Evaluation for RandomForestClassifier Model

In [164]:
RFCmodel=RandomForestClassifier()
RFCmodel.fit(x_train,y_train)
predicted_values=RFCmodel.predict(x_test)
accuracy_score(y_test,predicted_values)
print(classification_report(y_test,predicted_values))

              precision    recall  f1-score   support

           0       0.94      0.95      0.94     44273
           1       0.59      0.54      0.57      6127

    accuracy                           0.90     50400
   macro avg       0.77      0.74      0.75     50400
weighted avg       0.90      0.90      0.90     50400

In [ ]:
#Model Train, Test, Prediction and Evaluation for LogisticRegression Model

In [166]:
LRmodel=LogisticRegression()
LRmodel.fit(x_train,y_train)
predicted_values1=LRmodel.predict(x_test)
accuracy_score(y_test,predicted_values1)
print(classification_report(y_test,predicted_values1))

              precision    recall  f1-score   support

           0       0.88      1.00      0.94     44273
           1       0.00      0.00      0.00      6127

    accuracy                           0.88     50400
   macro avg       0.44      0.50      0.47     50400
weighted avg       0.77      0.88      0.82     50400

C:\Users\Hilda\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\Hilda\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\Hilda\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\Hilda\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1531: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

#Better model is the RandomForestClassifier with 90% accuracy. But we won't sorely rely on accuracy if the goal is detect fraud. LogisticRegression model did not identify any fraud since its recall is 0 on class 1. RandomForest Classifier precision of 0.59 is workable. This means  just over half of flagged cases are actually fraud. LogisticRegression fraud precision of 0 indicates this model has serious issues.It fails to detect fraud and cannot be used